{% extends 'base.html.twig' %}

{% block title %}Registrazione{% endblock %}

{% block body %}
    <h1>Registrazione</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.weight) }}
        {{ form_row(registrationForm.height) }}
        {{ form_row(registrationForm.bodyType) }}
        {{ form_row(registrationForm.age) }}
        {{ form_row(registrationForm.insertDate) }}
        {{ form_row(registrationForm.confirmed) }}
        {{ form_row(registrationForm.ageRange) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.sportType) }}
        {{ form_row(registrationForm.workoutsPerWeek) }}
        {{ form_row(registrationForm.workoutDuration) }}
        <button type="submit">Registrati</button>
    {{ form_end(registrationForm) }}
{% endblock %}